[submodule "forked_repository/RecAI"]
	path = forked_repository/RecAI
	url = https://github.com/MinhLaFuch/RecAI.git
[submodule "forked_repository/BiLLP"]
	path = forked_repository/BiLLP
	url = https://github.com/MinhLaFuch/BiLLP.git
[submodule "forked_repository/ECPO"]
	path = forked_repository/ECPO
	url = https://github.com/MinhLaFuch/ECPO.git
[submodule "forked_repository/iAgent"]
	path = forked_repository/iAgent
	url = https://github.com/MinhLaFuch/iAgent.git
