# Ignore data file but not the folder
# --- resource/raw ---
resource/raw/**
!resource/raw/**/
!resource/raw/**/.gitkeep

# --- resource/local/processed ---
resource/local/processed/**
!resource/local/processed/**/
!resource/local/processed/**/.gitkeep

# --- resource/recai/processed ---
resource/recai/processed/**
!resource/recai/processed/**/
!resource/recai/processed/**/.gitkeep