# =====================================
# Core
# =====================================
pandas==2.0.3
pandasql==0.7.3
sqlparse==0.4.2
SQLAlchemy==1.4.46

# =====================================
# LLM
# =====================================
openai==1.5.0
httpx<0.28
langchain==0.0.312
tiktoken==0.4.0
guidance==0.0.64

# =====================================
# UI
# =====================================
gradio==3.40.1
gradio-client==0.4.0

# =====================================
# Retrieval
# =====================================
chromadb==0.4.7
faiss-cpu==1.7.4
rapidfuzz==3.2.0

# =====================================
# HuggingFace
# =====================================
sentence-transformers==2.2.2
transformers==4.30.2
huggingface-hub==0.16.4
accelerate==0.20.3
setuptools==68.2.2
protobuf==3.20.3
tokenizers==0.13.3
safetensors==0.3.3

# =====================================
# PyTorch
# =====================================
--extra-index-url https://download.pytorch.org/whl/cu113

torch==1.13.1
torchvision==0.14.1

# =====================================
# Recommendation
# =====================================
unirec==0.0.1a4

# =====================================
# Misc
# =====================================
loguru==0.7.0